@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  color: white;
  align-items: center;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('/Poppins/Poppins-Regular.ttf') format('truetype');
}

@layer base {
  html {
    font-family: Poppins, system-ui;
  }
}

button,
a {
  transition: filter 300ms;
}

button:hover,
a:hover {
  transition: filter 300ms;
  filter: brightness(80%);
}

* {
  word-break: break-word;
}
