@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  align-items: center;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('/Poppins/Poppins-Regular.ttf') format('truetype');
}

@layer base {
  html {
    font-family: Poppins, system-ui;
  }
}

a,
button {
  transition: all 300ms ease-in-out;
}

a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@layer components {
  .mvn-button {
    @apply transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0;
  }
}

* {
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
:root {
  --primary: rgb(46, 131, 164);
  --secondary: rgb(169, 208, 219);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 3px solid var(--primary);
}